.assortment {
  margin-top: -40px;
  width: 100%;
  padding: 170px 0 65px;
  background-color: #f7f7f7;

  &-container {
    max-width: 1920px;
    padding: 0 50px;
    margin: 0 auto;
  }

  &__inner {
    position: relative;
  }

  &__title {
    font-family: Cocogoose Narrow;
    font-size: 72px;
    color: $dark;
    text-transform: uppercase;
    text-align: center;
  }

  .tabs {
    max-width: 830px;
    margin: 70px auto 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
    row-gap: 20px;

    &__item {
      display: inline-block;
      padding: 13px 25px;
      font-size: 15px;
      color: $dark;
      line-height: 1.4;
      border-radius: 100px;
      border: 1px solid #e2e2e2;
      cursor: pointer;
      transition: all 0.2s linear;

      &--active {
        color: $white;
        border-color: #f02c38;
        background-color: #f02c38;
      }

      @media (hover: hover) {
        &:hover {
          color: $white;
          border-color: #f02c38;
          background-color: #f02c38;
        }
      }

      @media (hover: none) {
        &:active {
          color: $white;
          border-color: #f02c38;
          background-color: #f02c38;
        }
      }
    }

    &__catalog {
      position: relative;
    }
  }

  &__slider {
    padding: 0 140px 110px;
    overflow: hidden;

    .item {
      width: 400px;
      position: relative;
      overflow: hidden;
      transition: all 0.2s linear !important;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__front {
        width: 100%;
        &-img {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &-weight {
          margin-top: 19px;
          font-size: 22px;
          font-weight: 500;
          color: $dark;
          line-height: 1.4;
          text-align: center;
        }
      }

      &__back {
        width: 100%;
        height: 100%;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        background: $white;
        transition: all 0.2s linear;
        opacity: 0;
        visibility: hidden;

        &--active {
          border-radius: 20px;
          opacity: 1;
          visibility: visible;
        }

        &-title {
          font-size: 22px;
          font-weight: 500;
          color: $dark;
          line-height: 1.4;
        }

        &-weight {
          margin-top: 10px;
          font-size: 14px;
          color: rgba($dark, 0.7);
          line-height: 1.4;
        }

        &-about {
          margin-top: 10px;
          font-size: 14px;
          color: $dark;
          line-height: 1.4;
        }

        &-composition {
          margin: 20px 0 30px;
          font-size: 14px;
          font-weight: 500;
          color: $dark;
          line-height: 1.4;

          span {
            font-weight: 400;
          }
        }

        &-recipe {
          width: 100%;
          margin-top: auto;
          padding: 14px 0;
          font-size: 15px;
          line-height: 1.4;
          color: $dark;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          border: 1px solid #e1ddd3;
          transition: all 0.2s linear;
          pointer-events: none;

          @media (hover: hover) {
            pointer-events: all;
            &:hover {
              color: #f02c38;
              border: 1px solid #f02c38;
            }
          }

          @media (hover: none) {
            &:active {
              color: #f02c38;
              border: 1px solid #f02c38;
            }
          }
        }

        &-buy {
          pointer-events: none;
          width: 100%;
          margin-top: 13px;
          padding: 14px 0;
          font-size: 15px;
          line-height: 1.4;
          color: $white;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          background: #f02c38;
          cursor: pointer;
          transition: all 0.2s linear;
          @media (hover: hover) {
            pointer-events: all;

            &:hover {
              background: #d9212c;
            }
          }

          @media (hover: none) {
            &:active {
              background: #d9212c;
            }
          }
        }
      }

      &__btn {
        display: none;
        margin-top: 10px;
        font-size: 13px;
        font-weight: 500;
        color: #878787;
        text-align: center;
        position: relative;

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0;
          bottom: 0;
          background: #878787;
        }
      }

      @media (hover: hover) {
        &:hover {
          z-index: 3;
          border-radius: 20px;
          cursor: pointer;
          .item__back {
            opacity: 1;
            visibility: visible;
            border-radius: 20px;
          }
        }
      }
    }

    &-pagination {
      text-align: center;
      position: absolute;
      bottom: 0 !important;

      .swiper-pagination {
        &-bullet {
          width: 6px !important;
          height: 6px !important;
          margin: 0 12px !important;
          background: #e1ddd3 !important;
          opacity: 1 !important;
          transition: all 0.2s linear;

          @media (hover: hover) {
            &:hover {
              background: #f02c38 !important;
            }
          }

          @media (hover: none) {
            &:active {
              background: #f02c38 !important;
            }
          }

          &-active {
            width: 10px !important;
            height: 10px !important;
            margin: 0 11px !important;
            background: #f02c38 !important;
          }
        }
      }
    }

    .swiper-button-disabled {
      border: 1px solid #e2e2e2;
      background: transparent;

      svg {
        fill: #7d7d7d;
      }
    }

    &-prev,
    &-next {
      width: 60px;
      height: 60px;
      min-width: 60px;
      min-height: 60px;
      border: 1px solid #f02c38;
      border-radius: 50%;
      background: #f02c38;
      cursor: pointer;
      transition: all 0.2s linear;
      z-index: 2;

      svg {
        width: 7px;
        height: 11px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: $white;
        transition: all 0.2s linear;
      }

      @media (hover: hover) {
        &:hover {
          border-color: #f02c38;
          background: #f02c38;

          svg {
            fill: $white !important;
          }
        }
      }

      @media (hover: none) {
        &:active {
          border-color: #f02c38;
          background: #f02c38;

          svg {
            fill: $white !important;
          }
        }
      }
    }

    &-prev {
      position: absolute;
      top: calc(50% - 50px);
      transform: translateY(-50%);
      left: 50px;
    }

    &-next {
      position: absolute;
      top: calc(50% - 50px);
      transform: translateY(-50%);
      right: 50px;
    }
  }
  .swiper-slide {
    pointer-events: none;

    &-active,
    &-next {
      pointer-events: all;
    }
  }
  .swiper-slide-next + .swiper-slide,
  .swiper-slide-next + .swiper-slidаe + .swiper-slide {
    pointer-events: all;
  }

  @media (max-width: 1440px) {
    .swiper-slide-next + .swiper-slide + .swiper-slide {
      pointer-events: none;
    }
  }

  @media (max-width: 992px) {
    .swiper-slide-next + .swiper-slide {
      pointer-events: none;
    }
  }

  @media (max-width: 768px) {
    .swiper-slide-next {
      pointer-events: none;
    }
  }
  
}

@media (max-width: 1920px) {
  .assortment {
    &__slider {
      padding: 0 110px 125px;
    }
  }
}

@media (max-width: 1440px) {
  .assortment {
    padding: 140px 0 50px;

    &-container {
      padding: 0 20px;
    }

    &__title {
      max-width: 768px;
      font-size: 56px;
      margin: 0 auto;
    }

    .tabs {
      margin: 50px auto 10px;
      column-gap: 10px;
      row-gap: 15px;

      &__item {
        padding: 11px 21px;
        font-size: 13px;
      }
    }

    &__slider {
      padding: 0 80px 110px;

      .item__front-weight {
        margin-top: 4px;
      }

      .swiper-button-disabled {
        background: transparent;
        border: none;
      }

      &-prev,
      &-next {
        width: 47px;
        height: 31px;
        min-width: 47px;
        min-height: 31px;
        border-radius: 0;
        border: none;
        top: calc(50% - 50px);

        background: transparent;

        svg {
          fill: #f02c38;
        }

        @media (hover: hover) {
          &:hover {
            background: transparent;

            svg {
              fill: #f02c38 !important;
            }
          }
        }

        @media (hover: none) {
          &:active {
            background: transparent;

            svg {
              fill: #f02c38 !important;
            }
          }
        }
      }

      &-prev {
        left: 0;
      }

      &-next {
        right: 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .assortment {
    &__slider {
      .item {
        &__back {
          height: calc(100% - 28px);
        }

        &__btn {
          display: inline-block;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .assortment {
    padding: 90px 0 35px;

    &-container {
      padding: 0 0 0 15px;
    }

    &__title {
      max-width: 290px;
      padding-right: 15px;
      font-size: 36px;
    }

    .tabs {
      margin: 40px 0 30px;
      padding-right: 15px;
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow: auto;
      scrollbar-width: none;
      position: relative;
      right: 0;

      &::-webkit-scrollbar {
        display: none;
      }

      &__item {
        flex: 1 0 auto;
        text-align: center;
      }
    }

    &__slider {
      padding: 0 15px 50px;

      .item {
        &:hover {
          border-radius: 10px;
        }

        &__front {
          &-weight {
            margin-top: 20px;
            font-size: 18px;
          }
        }

        &__back {
          padding: 15px 10px;
          overflow-y: auto;

          &-title {
            font-size: 18px;
          }

          &-composition {
            margin: 10px 0 15px;
          }

          &-recipe,
          &-buy {
            padding: 10px 0;
            font-size: 13px;
            text-align: center;
          }
        }
      }

      &-prev {
        width: 37px;
        height: 26px;
        min-width: 37px;
        min-height: 26px;
        left: 0;
        top: calc(50% - 35px);
      }

      &-next {
        width: 37px;
        height: 26px;
        min-width: 37px;
        min-height: 26px;
        right: 0;
        top: calc(50% - 35px);
      }

      &-pagination {
        padding-right: 15px;

        .swiper-pagination-bullet {
          margin: 0 6px !important;
        }
      }
    }
  }
}
