.buy {
  margin-top: 130px;
  &-container {
    max-width: 2020px;
    padding: 0 50px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__title {
    text-align: center;
    font-family: Cocogoose Narrow;
    font-size: 72px;
    text-transform: uppercase;
  }
  &__list {
    margin-top: 70px;
    display: flex;
    column-gap: 15px;
    align-self: center;
    &-item {
      min-width: 162px;
      min-height: 49px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      line-height: 140%;
      border-radius: 100px;
      border: 1px solid #e2e2e2;
      cursor: pointer;
    }
    &-item-active {
      color: #fff;
      border: 1px solid transparent;
      background-color: $primary;
    }
  }
  &__items {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 280px;
    min-width: 100%;
    border: 1px solid #f3f3f3;
  }
  &__more {
    min-width: 213px;
    min-height: 60px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border-radius: 100px;
    background: $primary;
    color: $white;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
  }
}

@media (max-width: 1440px) {
  .buy {
    &__item {
      img {
        max-width: 155px;
      }
      min-height: 268px;
    }
  }
}
@media (max-width: 1200px) {
  .buy {
    &__items {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (max-width: 992px) {
  .buy {
    &__title {
      font-size: 56px;
    }
    &__list {
      margin-top: 50px;
      &-item {
        min-width: 139px;
      }
    }
    &-container {
      padding: 0 20px;
    }
    &__item {
      min-height: 244px;
    }
    &__items {
      margin-top: 50px;
      grid-template-columns: repeat(3, 1fr);
    }
    &__more {
      margin-top: 30px;
    }
  }
}

@media (max-width: 576px) {
  .buy {
    &__title {
      font-size: 36px;
    }
    &__list {
      margin-top: 40px;
      &-item {
        font-size: 13px;
      }
    }
    &-container {
      padding: 0 15px;
    }
    &__item {
      min-height: 112px;
      img {
        max-width: 103px;
      }
    }
    &__items {
      margin-top: 40px;
      grid-template-columns: repeat(2, 1fr);
    }
    &__more {
      font-size: 15px;
      width: 100%;
      min-height: 49px;
    }
  }
}
